body{

font-family:Arial;

background:#f4f4f4;

}

.container{

width:80%;

margin:auto;

background:white;

padding:30px;

margin-top:30px;

border-radius:10px;

}

h1{

text-align:center;

}

input{

width:100%;

padding:10px;

margin:10px 0;

}

button{

padding:12px;

margin:10px;

cursor:pointer;

}

.part{

border:1px solid black;

padding:20px;

margin-top:20px;

}


